<<!DOCTYPE html>
<html xmls:th="http:///www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>

    </head>
    <body>
        <header th:fragment="header">

            <nav class="navbar navbar-expand-lg navbar-light bg-dark  ">

                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a  class="nav-link" style="color: white" th:href="@{/Producto}">Inicio<i class="fa-solid fa-cart-shopping"></i></a>
                            </li>     

                        </ul>
                    </div>

                </div>

            </nav>
        </header>

        <footer th:fragment="footer"  >
<!--            <div>
                <br/>
                <a th:href="@{/(lang=es)}">ES</a>
                <a th:href="@{/(lang=en)}">EN</a>
            </div>
                        <p  >Derechos Reservado <a href="https://www.cibertec.edu.pe/" target=""> Cibertec</a></p>
            <p   >[[#{plantilla.pie-pagina}]]  <a href="https://www.cibertec.edu.pe/" target=""> Cibertec</a></p>-->

        </footer>
    </body>
</html>